# question 1
Question 1
Try 5 Different functions of the String in Python.
For example - index, split function.

In [1]:
txt = "HELLO HIMADRI"
 
x = txt.split()
 
print(x)

['HELLO', 'HIMADRI']

In [ ]:
txt = "Counter12"

x = txt.isalnum()

print(x)

True

In [4]:
txt = " hello , welcome Himadri Shekhar das."
 
x = txt.index("welcome")
 
print(x)

9

In [ ]:
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

In [6]:
txt = "My name is Him√•dri"
 
x = txt.encode()
 
print(x)

b'My name is Him\xc3\xa5dri'

# question 2
Question 2
Try 5 Different functions of the List object in Python

In [7]:
fruits = ['Mango', 'banana', 'cherry']
fruits.append("orange")
fruits

['Mango', 'banana', 'cherry', 'orange']

In [ ]:
fruits = ['apple', 'banana', 'cherry']

x = fruits.index("cherry")
x

2

In [ ]:
fruits = ['apple', 'banana', 'cherry']
fruits.insert(1, "orange")
fruits

['apple', 'orange', 'banana', 'cherry']

In [ ]:
fruits = ['apple', 'banana', 'cherry']
fruits.reverse()
fruits

['cherry', 'banana', 'apple']

In [ ]:
cars = ['Ford', 'BMW', 'Volvo']
cars.sort()
cars

['BMW', 'Ford', 'Volvo']

# question 3 
Question 3
Experiment with at least 5 default functions of Dictionary

In [ ]:
x = ('key1', 'key2', 'key3')
y = 0

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.items()

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.pop("model")

print(car)

{'brand': 'Ford', 'year': 1964}

In [ ]:
ar = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
 
car.update({"color": "White"})
 
print(car)

{'brand': 'Ford', 'year': 1964, 'color': 'White'}

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.values()

print(x)

dict_values(['Ford', 'Mustang', 1964])